@import "bootstrap";
@import "highlight";

$gray:          #F5F6F6;
$green:         #55862E;
$border:        #CCCCCC;
$light-green:   #7FC06B;
$sidebar-width: 250px;
$header-height: 50px;

body, html {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: $gray;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: $green;
    text-decoration: none;
}

a:visited {
    color: $green;
    text-decoration: none;
}

#wrapper {
    min-height: 100%;
}

#header {
    height: $header-height;
    background-color: $light-green;

    i {
        top: 2px;
        display: inline;
        padding-right: 5px;
    }

    a {
        color: white;
        font-size: 18px;
        &:hover {
            background-color: $light-green;
        }
    }
}

#footer {
}

#sidebar {
    width: $sidebar-width;
    float: left;
    position: absolute;
    padding-right: 0px;

    a {
        font-size: 16px;
    }

    .logo {
        display: block;
        margin: 0 auto;
        padding: 30px 0;
    }

    .nav-header {
        color: white;
        padding: 10px 15px;
        font-size: 16px;
        background-color: $light-green;
    }
}

#content {
    padding: 0 30px 30px 30px;
    min-height: 100%;
    margin-left: $sidebar-width;
    position: absolute;
    background-color: white;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
}

