@import "bootstrap";
@import "highlight";

$gray:          #F5F6F6;
$white:         #FFFFFF;
$green:         #55862E;
$border:        #CCCCCC;
$light-green:   #7FC06B;
$sidebar-width: 250px;
$header-height: 50px;

body, html {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: $green;
    text-decoration: none;
}

a:visited {
    color: $green;
    text-decoration: none;
}

#wrapper {
    min-height: 100%;
}

#sidebar {
    width: $sidebar-width;
    float: left;
    position: absolute;
    padding-right: 0;
    background-color: $gray;
    border: 1px solid $border;

    a {
        font-size: 16px;
    }

    .logo {
        display: block;
        margin: 0 auto;
        padding: 30px 0;
    }

    .nav-header {
        color: white;
        padding: 10px 15px;
        font-size: 16px;
        background-color: $light-green;
    }
}

#content {
    padding: 0 30px 30px 30px;
    min-height: 100%;
    margin-left: $sidebar-width;
    position: absolute;
}

