<ul class="nav navbar-nav pull-right">
    <li>
        <a href='http://robolectric.blogspot.com'>
            <i class='glyphicon glyphicon-book'></i>
            <span>Blog</span>
        </a>
    </li>
    <li>
        <a href='http://groups.google.com/group/robolectric'>
            <i class='glyphicon glyphicon-envelope'></i>
            <span>Mailing List</span>
        </a>
    </li>
    <li>
        <a href='/javadoc/index.html?overview-summary.html'>
            <i class='glyphicon glyphicon-cog'></i>
            <span>API Docs</span>
        </a>
    </li>
</ul>