<ul class="nav nav-stacked">
    <li class="nav-header">Resources</li>
    <li class="nav-item">
        <a href='http://groups.google.com/group/robolectric'>Mailing List</a>
    </li>
    <li class="nav-item">
        <a href='/javadoc/index.html?overview-summary.html'>API Docs</a>
    </li>
</ul>
