<ul class="nav nav-stacked">
    <li class="nav-header">Resources</li>
    <li class="nav-item">
        <a href='http://groups.google.com/group/robolectric'>Mailing List</a>
    </li>
    <li class="nav-item">
        <a href='/javadoc/2.4/index.html'>Robolectric 2.4 Javadocs</a>
    </li>
    <li class="nav-item">
        <a href='/javadoc/3.0/index.html'>Robolectric 3.0 Javadocs</a>
    </li>
    <li class="nav-item">
        <a href='/javadoc/3.1/index.html'>Robolectric 3.1 Javadocs</a>
    </li>
</ul>
