{% if page.front %}
{% include front-logo.html %}
<header id="header" style="display: none;">
    <a href="/" class="logo">
        <img src="/images/logo-with-bubbles.png" alt="" width="74" height="60"/>
        <strong>{{ site.title | escape }}</strong>
    </a>
    <span class="description">{{ site.description | escape }}</span>
    <ul class="icons">
        <li><a href="http://x.com/Robolectric/" class="icon fa-brands fa-x-twitter"><span class="label">X</span></a></li>
        <li><a href="http://github.com/robolectric/robolectric/" class="icon fa-brands fa-github"><span class="label">GitHub</span></a></li>
        <!--<li><a href="#" class="icon fa-brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
        <!--<li><a href="#" class="icon fa-brands fa-snapchat"><span class="label">Snapchat</span></a></li>-->
        <!--<li><a href="#" class="icon fa-brands fa-instagram"><span class="label">Instagram</span></a></li>-->
        <!--<li><a href="#" class="icon fa-brands fa-medium"><span class="label">Medium</span></a></li>-->
    </ul>
</header>
{% endif %}