<div id="sidebar">
    {% unless page.front %}
    <a href="/"><img id="small-logo" src="/images/logo-with-bubbles.png" style="right: -3em; position: fixed; transform: scale(-.33, .33); top: -2em; border: none; padding: none;"/></a>
    {% endunless %}

    <div class="inner">

        {% unless page.front %}
        <section class="logo">
            <a href="/"><img src="/images/logo-with-bubbles-down.png" alt="" width="74" height="60" alt=""/></a>
            <a href="/"><strong>{{ site.title | escape }}</strong></a>
        </section>
        {% endunless %}

        {% if false %}
        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>
        {% endif %}

        <!-- Menu -->
        <nav id="menu">
            <!--<header class="major">-->
                <!--<h2>Menu</h2>-->
            <!--</header>-->

            <ul>
                <li><a href="/">Home</a></li>
                {% for menu in site.menu %}
                <li><span class="opener{% if page.group == menu.title %} active{% endif %}">{{ menu.title | escape }}</span>
                    <ul>
                        {% assign menu_pages_sorted = site.pages | sort: "order" %}
                        {% for menu_page in menu_pages_sorted %}
                        {% if menu_page.group == menu.title and menu_page.title %}
                        <li><a href="{{ menu_page.url | relative_url }}">{{ menu_page.title | escape }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% for menu_item in menu.items %}
                        <li><a href="{{ menu_item.url }}">{{ menu_item.title | escape }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2><a href="/blog/">Recent Posts</a></h2>
            </header>
            <div class="mini-posts">
                {% for post in site.posts limit:3 %}
                <article class="mini-post">
                    <!--<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>-->
                    <h4><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
                    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    {{ post.excerpt | truncatewords: 10 }}
                </article>
                {% endfor %}
            </div>
            <ul class="actions">
                <li><a href="/blog/" class="button">More…</a></li>
            </ul>
        </section>

        <section id="chrome-robolectric-extension-sidebar" class="hide-if-chrome-extension-is-installed">
            <header class="major">
                <h2>Chrome Extension</h2>
            </header>
            <article class="mini-post">
                See Robolectric documentation inline with Android Developer Documentation.
                <button onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/pjepcinimnfnaoopahdkpkefnefdkdgh')">Add to Chrome</button>
            </article>
        </section>
        <script>
            if (!window.chrome) {
                var extSidebar = document.getElementById('chrome-robolectric-extension-sidebar');
                extSidebar.parentNode.removeChild(extSidebar);
            }
        </script>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Contact</h2>
            </header>
            <!--<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
            <ul class="contact">
                <li class="fa-github"><a href="http://github.com/robolectric/robolectric">GitHub Project</a></li>
                <li class="fa-envelope-o"><a href="http://groups.google.com/group/robolectric">{{ site.email }}</a></li>
                <li class="fa-twitter"><a href="https://twitter.com/robolectric">@{{ site.twitter_username }}</a></li>
                <!--<li class="fa-phone">(000) 000-0000</li>-->
                <!--<li class="fa-home">1234 Somewhere Road #8254<br />-->
                <!--Nashville, TN 00000-0000</li>-->
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy;2010-2017. All rights reserved.
                <br/><small>Design: <a href="https://html5up.net">HTML5 UP</a>.</small></p>
        </footer>

    </div>
</div>
