:root {
    --md-primary-fg-color: #7FC06B;
    --md-primary-fg-color--light: #7FC06B;
    --md-primary-fg-color--dark: #7FC06B;
}

/* Make source part of the header a bit wider to avoid cutting off version tags. */
@media screen and (min-width: 60em) {
    .md-header__source {
        display: block;
        max-width: 13rem;
        width: 13rem;
    }
}

/* Make the grid layout use at most 2 columns. */
.md-typeset .grid {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr))
}

/* Create a "snippet" admonition type */
.md-typeset .admonition.snippet,
.md-typeset details.snippet {
  border-color: rgb(158, 158, 158);
}
.md-typeset .snippet > .admonition-title,
.md-typeset .snippet > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .snippet > .admonition-title::before,
.md-typeset .snippet > summary::before {
  background-color: rgb(158, 158, 158);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}
