name: "Build website"

on:
  pull_request:

jobs:
  build_website:
    name: "Build website"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: 'pip'

      - name: Install necessary tools
        run: pip install -r requirements.txt

      - name: Build website
        run: zensical build --clean

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        if: ${{ github.event.pull_request.head.repo.full_name == 'robolectric/robolectric.github.io' }}
        with:
          source-dir: site
          pages-base-url: robolectric.org
