name: "Deploy website"

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write

jobs:
  deploy_website:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    name: "Deploy website"
    runs-on: ubuntu-latest
    steps:
      - name: Configure pages
        uses: actions/configure-pages@v5

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: 'pip'

      - name: Install necessary tools
        run: pip install -r requirements.txt

      - name: Build website
        run: zensical build --clean

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy pages
        uses: actions/deploy-pages@v4
